<html lang="en">
  <body>
    <br>
        <a href="/home"> return to home </a>
    <br>
    <h1>{{video_name}}:{{tag}} </h1>
    <video controls>
        <source src="/videosFILE/{{video_id}}"
                type="video/mp4">
        Sorry, your browser doesn't support embedded videos.
    </video>
    <br>
    like: {{like_count}}
    dislike: {{dislikes_count}}
    {{user_buttons}}
    {{admin_buttons}}
    <br>
        <form action="/add_comment/{{video_id}}" method="post">
        <textarea rows = "1" cols = "60" name = "comment"></textarea>
        <input type="submit" value="send">
        </form>

  <h1> comments </h1>
  <ul>
      {{comments_list}}
  </ul>
  </body>
</html>