<html lang="en">
  <body>
    <br>
        <a href="/home"> return to home </a>
    <br>
    <h1>{{tag}} </h1>
    <video controls>
        <source src="/videosFILE/1"
                type="video/mp4">
        Sorry, your browser doesn't support embedded videos.
    </video>
    <br>
    like: {{like_count}}
    dislike: {{dislikes_count}}
    <form action="/like/{{video_id}}" method="post">
        <input type="submit" value="like">
    </form>

    <form action="/dislike/{{video_id}}" method="post">
        <input type="submit" value="dislike">
    </form>
    {{admin_buttons}}
    <br>
        <form action="/add_comment/{{video_id}}" method="post">
        <textarea rows = "1" cols = "60" name = "comment"></textarea>
        <input type="submit" value="send">
        </form>

  <h1> comments </h1>
  <ul>
      {{comments_list}}
  </ul>
  </body>
</html>